<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/common.js' %}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/axios.min.js' %}"></script>
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
   <div id="app">
        <!-导航栏->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-导航栏商标 ->
            <div class="container">
                <div>
                     <a class="navbar-brand" href="{% url 'home:index' %}">个人博客</a>
                </div>
                <!- 分类 ->
                <div class="collapse navbar-collapse">
                    <div>
                        <ul class="nav navbar-nav">
                            {% for cat in categories %}
                                {% if cat.id == category.id %}
                                    <li class="nav-item active">
                                        <a class="nav-link mr-2" href="/?cat_id={{ cat.id }}">{{ cat.title }}</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link mr-2" href="/?cat_id={{ cat.id }}">{{ cat.title }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!- 登录/个人中心 ->
            <div class="dropdown">
                    <a class="btn dropdown-toggle bg-secondary" id="dropdownMenu1"
                        data-toggle="dropdown" style="margin-right: 50px">
                        <span aria-haspopup="true" aria-expanded="false">
                            {{ user.username  }}
                        </span>
                    </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="{% url 'users:center' %}">个人信息</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="{% url 'home:write' %}">写博客</a>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="{% url 'users:login' %}">切换/登录账号</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="{% url 'users:logout' %}">退出登录</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container" style="">
            <div class="row">
                <div class="col-12">
                    <div class="col-6">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username">用户名</label>
                                <input type="text" class="form-control" id="username" name="username" value="{{ username }}">
                            </div>
                            <div class="form-group">
                                <label for="headimg">头像</label>
                                {% if avatar %}
                                    <img src="{{ avatar }}">
                                {% else %}
                                    <img src="{% static 'headimg/head1.jpg' %}">
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="avatar">上传头像</label>
                                <input type="file" class="form-control" name="avator" id="avatar">
                            </div>

                            <div class="form-group">
                                <label for="phone">手机</label>
                                <input type="text" class="form-control" disabled="disabled" id="phone" name="phone" value="{{ mobile }}">
                            </div>

                            <div class="form-group">
                                <label for="desc">简介</label>
                                <textarea type="text" class="form-control" id="desc" name="desc" rows="12"></textarea>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" style="">修改</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


   <!- footer ->
   <footer class="py-3 bg-dark" id="footer">
       <div class="container">
           <h5 class="m-0 text-center text-white">Copyright @ Zhangjialun</h5>
       </div>
   </footer>
    <!- 引入js ->
    <script type="text/javascript" src="{% static 'js/host.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/common.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/register.js'%}"></script>
    <script type="text/javascript">
        $(function () {
            $('#pagination').pagination({
                currentPage:15,
                totalPage:30,
                callback:function (current) {
                    location.href = '/';
                }
            })
        })
    </script>
</body>
</html>
